.inputErrors {
  color: red;
}

.inputStyle {
  border: 1px solid #ced4da;
  width: 100%;
  border-radius: 5px;
  height: 30px;
  margin-bottom: .5rem;
  padding: 2px 5px;
  outline: none;
}
.inputStyleError {
  border: 1px solid red;
  width: 100%;
  border-radius: 5px;
  height: 30px;
  margin-bottom: .5rem;
  padding: 2px 5px;
  outline: none;
}

.labelStyle {
  color: #212529;
  margin-bottom: 5px;
  .asteric {
    color: red;
  }
  .labelStyleFont {
    color: #212529;
  }
}

