$border-color: #D0D0D0;

.App {
  padding-right: 0 !important;
  padding-left: 0 !important;
  font-family: 'Source Sans Pro', sans-serif;

  .homeContainer {
    display: flex;
    margin-top: 40px;
    .productsContainer {
      border-right: 1.5px solid $border-color;
      border-bottom-right-radius: 10px;
      height: 100%;

        .productTypesContainer {
          display: flex;
          border-bottom: 1px solid $border-color !important;

          .typesContainer {
            color: #59595a;
            bottom: 0;
            cursor: pointer;

            .types {
              bottom: 0;
              position: absolute;
            }
          }
        }

      .productCont {
        padding: 20px 0 20px 20px;
        border-bottom-right-radius: 10px;
        justify-content: start;
        height: 100%;
        border-bottom: 2px solid #D0D0D0;
        overflow: auto;
        .emptyList {
          margin: 0 auto;
          font-weight: bold;
        }
      }
      .productContLoading {
        height: 80vh;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid #D0D0D0;
        border-bottom-right-radius: 10px;
        .loader {
          border: 5px solid #f3f3f3; /* Light grey */
          border-top: 5px solid blue;
          border-bottom: 5px solid blue;
          border-radius: 50%;
          width: 50px;
          height: 50px;
          animation: spin 2s linear infinite;
        }
      }
    }

    .transactionContainer {
      padding: 20px;
    }
  }
  .modalContainer {
    width: 70% !important;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media screen and (max-width: 768px) {
    .homeContainer {
      display: flex;
      flex-direction: column;
    }

    .productsContainer{
      max-width: 100% !important;
    }
    .transactionContainer {
      display: none;
    }
    .types {
      position: relative !important;
    }
    .productTypesContainer {
      position: fixed;
      z-index: 1;
      width: 92%;
    }


    .productCont {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 10px;
      padding: 10px !important;
      margin-top: 60px;
      overflow: auto;
    }
    .productContLoading {
      display: flex;
      height: 100vh;
      width: 100vw;
      justify-content: center;
      .loader {
        border: 5px solid #f3f3f3; /* Light grey */
        border-top: 5px solid blue;
        border-bottom: 5px solid blue;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 2s linear infinite;
      }
    }

}
